body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.bodyimg{
    background-image: url("/img/gt86.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    ba
}
.imgaboutme{
    float: left;
    width: 35%;
    height: auto;
}
.responsivenav {
    background: blue;
    overflow: hidden;
}
.responsivenav a {
    color: Hotpink;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
    display: block;
    text-align: center;
    float: left;
 }
 
 .responsivenav a:hover{
     background-color:cyan;
     color:black;
 }
 ul{
     list-style:none;
 }
 .homeh1{
   font-size: 55px;
   text-align: center;
   font-weight: bold;
   text-decoration: underline;

}
.aboutmeh1{
    font-size: 50px;
   text-align: left;
    
}
 p{
  
    font-size: 30px;
     color: rgb(55, 77, 55);
 }
 main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
}
div.gallery img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
} 
.bodybackgroundgallerie{
    background:linear-gradient(90deg, rgb(9, 137, 50),  rgb(192,192,192))

}









.responsivenav a.active {
    background-color: grey;
  }
  
  .responsivenav .barcontainer {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: 3px;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f2f2f2;
    
    margin: 6px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -7px);
  }
  
  @media screen and (max-width: 600Px) {
    .responsivenav a:not(:first-child) {
      display: none;
    }
  
    .responsivenav .barcontainer {
      float: right;
      display: block;
    }
  
    .responsivenav.responsive {
      position: relative;
    }
  
    .responsivenav.responsive .barcontainer {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .responsivenav.responsive a {
      float: none;
      display: block;
    }
    .bodyimg{
        background-image: url("/img/gt86.png");
        background-repeat: repeat-y;
        background-size: 100vw 100vh;
    
    }  
}